body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;  
    max-width: 400px;
    background-color: #fafafa;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;

  }
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 400px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:disabled {
    background-color: #ccc;
    color: #fff;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    
  }
  

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  td {
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  }
  

  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  }
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  .title {
    font-weight: bold;
    color : red
  }
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 400px;
  }

  
